<html ng-app="stockTicker">

<head>
	<title>Stock Ticker</title>	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	 crossorigin="anonymous">	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link href="stylesheets/style.css" rel="stylesheet">	
</head>

<body ng-controller="MainCtl">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">		

				<div class="ticker tile">
					<input type="text" style="width:100%" placeholder="type stock to track" ng-model="msg" ng-enter="send()">
					<!--<button class="btn btn-primary" ng-click="send()">Submit</button>-->
					<h1 class="display-1">{{Symbol}}</h1>
					<h1 class="display-4"> {{Ticker}}</h1>
					<h4>{{Ask}}</h4>
					<h4> {{Bid}}</h4>
					<h4> {{Open}}</h4>
					<h4> {{Last}}</h4>
					<h4> {{Date}}</h4>

				</div>

			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
			</div>
		</div>
	</div>	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
	<script src="src/app.js">
		// var app = angular.module("stockTicker", []);

		// app.directive('ngEnter', function () {
		// 	return function (scope, element, attrs) {
		// 		element.bind("keydown keypress", function (event) {
		// 			if (event.which === 13) {
		// 				scope.$apply(function () {
		// 					scope.$eval(attrs.ngEnter);
		// 				});

		// 				event.preventDefault();
		// 			}
		// 		});
		// 	};
		// });

		// app.controller("MainCtl", ["$scope", function ($scope) {
		// 	$scope.messages = [];
		// 	$scope.Ticker = "";
		// 	$scope.Bid = "";
		// 	$scope.Ask = "";
		// 	$scope.Symbol = "";
		// 	$scope.Open = "";
		// 	$scope.Last = "";
		// 	$scope.Date = "";
		// 	var conn = new WebSocket("ws://192.168.33.46/ws");
		// 	// called when the server closes the connection
		// 	conn.onclose = function (e) {
		// 		$scope.$apply(function () {
		// 			$scope.messages.push("DISCONNECTED");
		// 		});
		// 	};
		// 	function IsJsonString(str) {
		// 		try {
		// 			JSON.parse(str);
		// 		} catch (e) {
		// 			return false;
		// 		}
		// 		return true;
		// 	}

		// 	// called when the connection to the server is made
		// 	conn.onopen = function (e) {
		// 		$scope.$apply(function () {
		// 			$scope.messages.push("CONNECTED");
		// 		})
		// 	};

		// 	// called when a message is received from the server
		// 	conn.onmessage = function (e) {
		// 		$scope.$apply(function () {
		// 			var msgReceived = IsJsonString(e.data) ? JSON.parse(e.data) : {
		// 				MessageType: '',
		// 				Message: e.data
		// 			};
		// 			//$scope.messages.push(e.data);
		// 			$scope.Ticker = msgReceived.Ticker;
		// 			$scope.Bid = msgReceived.Bid;
		// 			$scope.Ask = msgReceived.Ask ;
		// 			$scope.Symbol = msgReceived.Symbol;
		// 			$scope.Open = msgReceived.Open;
		// 			$scope.Last = msgReceived.Last;
		// 			$scope.Date = msgReceived.Date;
		// 			console.log(e.data);
		// 		});
		// 	};

		// 	$scope.send = function () {
		// 		conn.send($scope.msg);
		// 		$scope.msg = "";
		// 	}
		// }]);
	</script>
</body>

</html>